<div class="list-wrapper">
  <ul class="list">
    {% for item in items %}
      <li class="item-list"><h3>{{ item }}</h3></li>
    {% endfor %}
  </ul>
</div>

<div class="count-wrapper">
  {{ articles_count }}
</div>
